@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import './utility/reset';
@import './utility/colors';
@import './utility/class';

/* -------------------- body ----------------------------- */
body{
    color: $white;
    background-color: $very-light-gray;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
    color: $grayish-blue;
    line-height: 1.5;
    font-weight: 300;
    a:hover{
        transition: color .3s ease;
        color: $lime-green;
    }
  
}

@media screen and (min-width : 800px){
    body{
        font-size: 1.125rem;
    }
}
/* -------------------- header ----------------------------- */

@import './components/header';

/* -------------------- main ----------------------------- */

/* ---------------- hero ----------------- */
#hero{
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .img{
        background: url('../images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 -1rem;
    }
    .text{
        text-align: center;
    }
    h2{
        
        margin: 2rem 0;
    }

    .call-to-action{
       
        margin: 2rem auto 0 auto;
    }
    
}
@media screen and (min-width : 800px){
    #hero{
        margin-top: 5rem;
        height: 45rem;
     
        .container{
         
            display: flex;
            flex-direction: row;
            justify-content: space-between;           
           
        }
        

        .img{
            background-image:url('../images/bg-intro-desktop.svg');
            margin: 0;
            transform: translateY(-20%);
            overflow: hidden;
            width: 68%;
           
             
        }
        img{
            
            transform: translateX(15%) ;

        }
        .text{
            width: 35%;
            margin-top: 5rem;
            text-align: left;

        }
        .call-to-action{
            margin: 2rem 0;
        }
        
    }
}


/* ---------------- about ----------------- */

#about{
    background-color: $light-grayish-blue;
    padding: 3rem 0;
    margin: 4rem 0;
    text-align: center;
    position: relative;
    z-index: -1;
    h2{
       
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 2rem;
    }

    .icon{
        width: 4rem;
        margin: 1.5rem auto;
    }
    
    .title{
        
        margin: 1.5rem 0;
    }
   
}

@media screen and (min-width : 800px){
    #about{
        margin:  0;
        transform: translateY(-5%);
        padding: 5% 0;
        text-align:left;
       
    
        .icon{
            
            margin: 1.5rem 0;
        }
        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }
    }
}

/* ---------------- blog ----------------- */

#blog{
    margin: 3rem 0;
    .card{
        background-color: $white;
        margin-bottom: 2rem;
        border-radius: 10px;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        cursor: pointer;
        &:hover img{
            transform: scale(1.06);
        }
    }
    .img, img{
        transition: transform .4s ease;
        height: 15rem;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    .content{
        padding: 1rem;
    }
    h2{
        text-align: center;
        margin: 1rem 0;
    }
    h3{
        margin: .6rem 0;
    }
    .author{
        font-size: .9rem;
    }
    p{
        font-size: .9rem;
    }
}

@media screen and (min-width : 800px){
    #blog{
        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

        h2{
            text-align: left;
        }
        
    }

}

/* -------------------- footer ----------------------------- */

@import './components/footer';