.call-to-action{
    background : linear-gradient(to right, $lime-green, $bright-cyan);
    text-align: center;
    padding: .5rem 1rem;
    width: 7rem;
    border-radius: 99999px;
    color: $white;
    display: block;
    &:hover{
        background : linear-gradient(to right, $lime-green, $lime-green);
        color: $white;
    }
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding : 0 1rem;
}

.title{
    color: $dark-blue;
}

.title-one{
    font-size: 2rem;
}
.title-two{
    font-size: 1.8rem;
}

.title-three{
    font-size: 1.2rem;
}