footer{
    background-color: $dark-blue;
    padding: 3rem 0;

    .brand{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 15rem;
            transform: translateX(5rem);
        }
        span{
            transform: translateX(-6rem);
            font-size: 2rem;
            color: $white;
        }
    }

    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 1rem 0;

        img{
            margin: 0 1rem;
            width: 2rem;
            
           
        }

    }
    nav{
   
        a{
            display: block;
            text-align: center;
            margin: .5rem 0;
        }
    }
    .call-to-action{
        margin: 2rem auto;
    }

    .copyright{
        text-align: center;
        font-size: .9rem;
    }
}

@media screen and (min-width : 800px){
    footer{
     
        .container{
            display: grid;
            grid-template-columns: repeat(4, auto);
            align-items: flex-start;
        }

        .brand{
            justify-content: flex-start;
            img{
           
                transform: translateX(0);
               
            }
            span{
                transform: translateX(-11rem);
               
            }
        }
    
        .social-links{
           
            justify-content: flex-start;
            align-items: center;
            img{
                margin: 0 1rem 0 0;
         
               
            }
            
    
        }
        nav{
            padding-top: .5rem;
            display: flex;
            flex-direction: row;
            a{
                margin: 0 3rem 1rem 1rem;
                text-align: left;
                
            }
        }
        .call-to-action{
            margin: .5rem 0 1rem auto;
            
        }
    
        .copyright{
            text-align: right;
        }

    }
   
}