footer{
    
    background-color: $dark-blue;
    color: $white;
    padding: 3rem 0;
    font-size: .95rem;

    .brand{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 15rem;
            transform: translateX(5rem);
        }
        span{
            transform: translateX(-7rem);
            font-weight: 700;
            font-size: 2rem;
            color: $white;
        }
    }

    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;

        i{
            margin: 0 .5rem;
            display: block;
            color: $white;
            &:hover{
                transition: .3s ease;
                color: $lime-green;
            }
           
        }

    }
    nav{
        
        display: flex;
        flex-direction: column;
        align-items: center;
   
        a{
            display: block;
            text-align: center;
            padding: 1rem 1rem;
            
        }
    }
    .call-to-action{
        margin: 1rem auto 1.5rem auto;
    }

    .copyright{
        text-align: center;
        
    }
}

@media screen and (min-width : 900px){
    footer{
        
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;
        }

        .brand{
            justify-content: flex-start;
          
            img{
           
                transform: translateX(0);
               
            }
            span{
                transform: translateX(-12rem);
               
            }
        }
    
        .social-links{
           
            justify-content: flex-start;
            align-items: center;
            i{
                
                margin: 0 1rem 0 0;
                
         
               
            }
            
    
        }
        nav{
            padding-top: .5rem;
            display: flex;
            flex-direction: row;
      
            a{
                
                text-align: left;
                padding: 0  1rem .5rem 1rem;
                
            }
        }
        .call-to-action{
            
            margin: .5rem 0 2rem auto;
            
        }
    
        .copyright{
            text-align: right;
        }

    }
   
}