header{
     
    background-color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 1s ease;
    left: 0;
    z-index: 99;
    height: 5rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .brand{
        margin-top: .7rem;
    }

    .buttons{
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .call-to-action{
        margin-right: 1rem;
        display: none;
        z-index: 99;
      
    }

    nav{
    
        background-color: $dark-blue;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding: 5rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        clip-path: circle(1.5rem at calc( 100% - 2rem ) 2.6rem);
        transition: clip-path .5s ease;
        color: $white;
        cursor: pointer;
        div:not(:last-child){
           
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            border-bottom: 1px solid $white;
        }
        div:first-child{
            padding-top: 1.5rem;
            border-top: 1px solid $white;
        }    
    
    }
    
    
    .hamburger{
        z-index: 99;
        height: 1.4rem;
        width: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    
        .bar{
            display: block;
            height: 3px;
            width: 100%;
            background-color: $white;
            position: absolute;
            border-radius: 5px;
            pointer-events: none;
        }
    
        .bar1{
            top: 0;
        }
    
        .bar2{
            top: 50%;
            width: 50%;
        }
    
        .bar3{
            top: 100%;
            width: 80%;
        }
    }

    &.clicked{
        nav{
            clip-path: circle(150% at 100% 0%);
            cursor:inherit;
        }
        .bar{
            width: 100%;
        }
        .bar1{
            top: 50%;
            transform: rotate(45deg);
        }
        .bar2{
            background-color: transparent;
        }
        
        .bar3{
            top: 50%;
            transform: rotate(-45deg);
        }
        .call-to-action{
            display: block;
        }
            
     
    }
    
}

@media screen and (min-width : 1024px){
    header{
        top: -5rem;
        .loaded &{
            top: 0;
        }
        
        .container{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 2rem;
        }
        .buttons{
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hamburger{
            display: none;
        }
        .call-to-action{
            margin:0;
            display: block;

        }
    
        nav{
            position: static;
            z-index: unset;
            width: auto;
            height: auto;
            padding: 0;
            clip-path: circle(100%);
            flex-direction: row;
            font-size: 1rem;
            background-color: transparent;
            color: inherit;
            cursor:inherit;
    
            div{
           
                margin: 0 1rem!important;
                padding: 0!important;
                border: none!important;
            }
             
        
        }
        
    }
    
}
